{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:ListingAffiliatePaymentRequest:ListingAffiliatePaymentRequest{% endblock %}

{% block body %}
<h1>Welcome to the ListingAffiliatePaymentRequest:ListingAffiliatePaymentRequest page</h1>
{% endblock %}
