{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:AdminPaymentRequest:AdminPaymentRequest{% endblock %}

{% block body %}
<h1>Welcome to the AdminPaymentRequest:AdminPaymentRequest page</h1>
{% endblock %}
