{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:EditAdminPaymentRequest:EditAdminPaymentRequest{% endblock %}

{% block body %}
<h1>Welcome to the EditAdminPaymentRequest:EditAdminPaymentRequest page</h1>
{% endblock %}
