{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:AffiliatePaymentRequest:AffiliatePaymentRequest{% endblock %}

{% block body %}
<h1>Welcome to the AffiliatePaymentRequest:AffiliatePaymentRequest page</h1>
{% endblock %}
