{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:AffiliateDeal:AffiliateDeal{% endblock %}

{% block body %}
<h1>Welcome to the AffiliateDeal:AffiliateDeal page</h1>
{% endblock %}
