{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:MembersListing:MembersListing{% endblock %}

{% block body %}
<h1>Welcome to the MembersListing:MembersListing page</h1>
{% endblock %}
