{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:DealListing:DealListing{% endblock %}

{% block body %}
<h1>Welcome to the DealListing:DealListing page</h1>
{% endblock %}
