{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:ListingAffiliateDeal:ListingAffiliateDeal{% endblock %}

{% block body %}
<h1>Welcome to the ListingAffiliateDeal:ListingAffiliateDeal page</h1>
{% endblock %}
