{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:EditAffiliateDeal:EditAffiliateDeal{% endblock %}

{% block body %}
<h1>Welcome to the EditAffiliateDeal:EditAffiliateDeal page</h1>
{% endblock %}
