{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:MembersInfo:MembersInfoAdd{% endblock %}

{% block body %}
<h1>Welcome to the MembersInfo:MembersInfoAdd page</h1>
{% endblock %}
