{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:EditMembersInfo:EditMembersInfo{% endblock %}

{% block body %}
<h1>Welcome to the EditMembersInfo:EditMembersInfo page</h1>
{% endblock %}
