{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:EditUserInfo:EditUserInfo{% endblock %}

{% block body %}
<h1>Welcome to the EditUserInfo:EditUserInfo page</h1>
{% endblock %}
