{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:ListingAdminPayReq:ListingAdminPayReq{% endblock %}

{% block body %}
<h1>Welcome to the ListingAdminPayReq:ListingAdminPayReq page</h1>
{% endblock %}
