{% extends "::base.html.twig" %}

{% block title %}AffiliateWebservicesBundle:EditAffiliatePaymentRequest:EditAffiliatePaymentRequest{% endblock %}

{% block body %}
<h1>Welcome to the EditAffiliatePaymentRequest:EditAffiliatePaymentRequest page</h1>
{% endblock %}
